@model DatabaseLayer.BookIssueTable

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BookIssueTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollectDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollectDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Collectby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collectby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Issueby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Issueby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BooksTable.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BooksTable.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeHRM.EID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeHRM.EID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
